p {
  font-family: verdana;
  font-size: 20px;
}
.App {
  margin: 0;
  padding: 0;
  grid-template-columns: .25fr 1fr 8fr;
  grid-template-rows: auto .5fr 5fr auto;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white
}
.App-header {
  align-self: start;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.App-header img {
  width: 100%;
}
input[type='radio']:after {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #616368;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #EF98BF;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.Chart {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  height: 50rem;
  width: 99%;
}
.App-link {
  color: #61dafb;
}

.Tooltip {
  opacity: .8;
  height: auto;
  width: auto;
  background-color: #2c2c2c;
}

.SegmentList {
  align-self: start;
  justify-self: left;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  padding: 0;
  margin: 1em;
}

.SegmentButton {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: 3;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #33937F;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #00000000;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  font-weight: bold;
  list-style-type: none;
  width: 7em;
  height: 2em;
  /* padding: 0; */
}
.SegmentButton .SegmentButtonText {
  font-size: 14px;
  margin: auto;
  padding-top: .5em;
  padding-bottom: .75em;
}

.SegmentButton.arena {
  background-color: #33937F;
}
.SegmentButton.dungeon {
  background-color: #D9548F;
}
.SegmentButton.arena:hover {
  cursor: pointer;
  background-color: #54CEB4;
}
.SegmentButton.dungeon:hover {
  cursor: pointer;
  background-color: #EF98BF;
}
.SegmentButton.Active.arena {
  cursor: pointer;
  background-color: #54CEB4;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  padding: 0;
}
.SegmentButton.Active.dungeon {
  cursor: pointer;
  background-color: #EF98BF;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  padding: 0;
}

.ChartAndControls {
  position: relative;
  left: -6em;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
}

.ControlsWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -5em;
}

.PrecisionPicker {
  margin-top: 2em;
}

.ControlsWrapper .PrecisionPicker .PrecisionPickerText {
  display: inline;
  color: white;
  font-size: 16px;
  margin-right: 2em;
}

.App .SelectCombatLogButton {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: 3;
  align-self: start;
  justify-self: left;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 1em;
  cursor: pointer;
  background-color: #33937F;
  color: white;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
  width: 13em;
  height: 2em;
  padding: 0;
}
.App .SelectCombatLogButton:hover {
  background-color: #54CEB4;
  
}
.App .AddExampleDataButton {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: 3;
  align-self: end;
  justify-self: left;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;

  cursor: pointer;
  background-color: #7172c5;
  color: white;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
  width: 11em;
  height: 2em;
  padding: 0;
  margin-bottom: 5em;
}
.App .AddExampleDataButton:hover {
  background-color: #8788EE;
}

.range-slider {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 8px;
  background: #ddd;
  align-self: center;
  border-radius: 4px;
}
.range-slider[data-vertical] {
  height: 100%;
  width: 8px;
}
.range-slider[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.range-slider .range-slider__thumb {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #8f91fc;
}
.range-slider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}
.range-slider .range-slider__range[data-active] {
  height: 12px;
}
.range-slider .range-slider__thumb:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 6px rgba(33, 150, 243, 0.5);
}
.range-slider[data-vertical] .range-slider__thumb {
  left: 50%;
}
.range-slider .range-slider__thumb[data-disabled] {
  z-index: 2;
}
.range-slider .range-slider__range {
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  transition: height .3s;
  top: 50%;
  width: 100%;
  height: 100%;
  background: #8788EE;
}
.range-slider[data-vertical] .range-slider__range {
  left: 50%;
  transform: translate(-50%, 0);
}
.range-slider input[type="range"] {
  -webkit-appearance: none;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
.range-slider input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: 0;
}
.range-slider input[type="range"]:focus {
  outline: 0;
}